<h1> {{dataset.dataset_name}} dataset</h1> <a href="{% url 'vision:edit_dataset_name' dataset.pk %}"> EDIT DATASET NAME </a> <br><br>
<a>{{dataset.dataset_description}}</a> <br> <a href="{% url 'vision:edit_dataset_description' dataset.pk %}"> EDIT DATASET DESCRIPTION </a> <br><br>
<a href="{% url 'vision:delete_dataset' dataset.pk %}"> DELETE DATASET </a>
<h2> Labels: </h2>

{% for label in labels %}
<li><a>{{label.label_name}} </a>
    {% if label.label_name != "unlabelled" %}
    <a href= "{% url 'vision:edit_label' dataset.pk label.pk %}"> EDIT</a> <a>&nbsp &nbsp</a><a href= "{% url 'vision:delete_label' dataset.pk label.pk %}"> DELETE </a>
    {% endif %}
</li><br>
{% endfor %}
<a href="{% url 'vision:add_label' dataset.pk %}"> ADD LABEL </a>

<h2> Images: </h2>
{% for image in images %}
<li><a>{{image.img_url}} </a> <br>
    <img src = {{image.img_url}} height='200' width='250'>
    <br>
    <a>&nbsp &nbsp labelled: {{image.label}}</a>
</li><br>
{% endfor %}
