option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: ebdjango/wsgi.py

container_commands:
  01_postgresql:
    command: sudo yum -y install gcc python-setuptools python-devel postgresql-devel
  02_postgresql:
    command: sudo easy_install psycopg2
  03_gdal:
      command: "wget http://download.osgeo.org/gdal/2.1.3/gdal-2.1.3.tar.gz && tar -xzf gdal-2.1.3.tar.gz && cd gdal-2.1.3 && ./configure && make && make install"